[defaults]
inventory = ./inventory.yaml
host_key_checking = False
interpreter_python = auto_silent
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=0s
pipelining = True
